name: CI - Entrenamiento del modelo y carga del artefacto

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Train model (generate joblib)
        run: |
          python gen_artefacto.py

      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: rf_forward_model
          path: rf_forward_model.joblib
